* {
    box-sizing: border-box;
}

body {
    background-color: #364371;
    margin: 0;
    padding: 0;
}

#wrap {
    height: 100vh;
    padding: 0;
    margin: 0;
    width:90%;
}

#nav {
    background-color: #B0CFFF;
    float: left;
    width: 20%;
    margin-left: 10%;
}

#content {
    width:70%;
    float: right;
}

.setHeight85{
    height: 85vh;
}
/* Ensure the inner div has no additional top margin */
#sonnet {
    margin: 0;
    padding: 0;
    background-color: #5B7FBD;
}

/* Add padding to content instead of margin for vertical spacing */
#sonnet h1 {
    padding-top: .5em;
    margin: 0px;
    /* Ensure no margin */
}

.copyright {
    clear: both;
    margin: 0;
    padding: 0;
}