body {
    background-color: #E2AC7F;
}
#wrap {
    background-color: #F5F5DC;
    width:65%;
    margin:auto;
    border: 5px dotted black;
}
#wrap>h1 {
    margin-top:0px;
    border-bottom: 5px dotted black;
}
li {
    list-style: none;
    text-align: center;
}
li::first-letter{
    font-weight: bold;
    font-size:150%;
}