.dark{
    background-color: black;
    color:white
}
.yellow {
    background-color: yellow;
}
.dark, .yellow {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Times, sans-serif;
}